body,
div,
span,
p,
ul,
li,
a,
img,
input,
h1,
h2,
h3,
h4,
i {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft yaHei";
    line-height: 1;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: center;
    border: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

i {
    font-size: normal;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


