.toBlock {
  width: 100%;
  height: 100%;
  display: block;
}
header {
  width: 100%;
  height: 60px;
  background: #fff;
}
header h1 {
  float: left;
  margin-left: 111px;
  margin-right: 111px;
  width: 49px;
  height: 0.255208rem;
  line-height: 0.260417rem;
}
header h1 a {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 10px;
}
header h1 a img {
  width: 100%;
}
header ul {
  float: left;
}
header ul li {
  float: left;
  height: 100%;
  width: 100px;
  line-height: 60px;
  margin-right: 70px;
  text-align: center;
}
header ul li:first-child {
  border-bottom: 5px solid #1ca0f3;
}
header ul li:first-child a {
  color: #1ca0f3;
}
header ul li a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
}
.container {
  margin-top: 5px;
  width: 100%;
  height: 2055px;
  background: url('../images/ia_100000001285.jpg') no-repeat center;
  position: relative;
}
.container .banner {
  width: 547px;
  height: 440px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.container .banner .title {
  width: 533px;
  height: 112px;
  margin: 0 auto;
  display: block;
  background: url(../images/ia_100000090.png) no-repeat -28px -28px;
  text-shadow: 0 11px 27px #1aa1f3;
}
.container .banner .subtitle {
  width: 490px;
  margin: 20px auto;
  height: 1em;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 11px 27px #1aa1f3;
}
.container .banner .download {
  height: 60px;
}
.container .banner .download a {
  height: 62px;
  width: 183px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 20px;
}
.container .banner .download #apple {
  background: url('../images/ia_100000090.png') no-repeat -188px -185px;
}
.container .banner .download #andriod {
  background: url('../images/ia_100000090.png') no-repeat 0 -308px;
}
.container .banner .download #erma {
  position: relative;
  width: 64px;
  height: 64px;
  background: url('../images/ia_100000090.png') no-repeat -436px -187px;
}
.container .banner .download #erma img {
  position: absolute;
  top: 62px;
  display: none;
}
.container .settlein {
  width: 1280px;
  height: 1038px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 133px;
  padding-left: 123px;
}
.container .settlein h2 {
  width: 545px;
  height: 54px;
  text-align: center;
  font-size: 50px;
  line-height: 54px;
  color: #1aa1f3;
}
.container .settlein #bottom_desc {
  font-size: 25px;
  color: #1aa1f3;
  height: 40px;
  line-height: 40px;
}
.container .settlein #settlein_content {
  height: 645px;
  width: 1280px;
  transform: translate(-9%, 8%);
}
.container .settlein #settlein_content #displayer {
  width: 100%;
  height: 100%;
}
.container .settlein #settlein_content #displayer #play_slides {
  height: 455px;
  position: relative;
  overflow: hidden;
}
.container .settlein #settlein_content #displayer #play_slides ul {
  width: 2000px;
  height: 250px;
  display: flex;
  position: absolute;
  top: 106px;
  overflow: hidden;
}
.container .settlein #settlein_content #displayer #play_slides ul li {
  height: 250px;
  width: 300px;
  margin-left: 7px;
}
.container .settlein #settlein_content #displayer #play_slides ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}
.container .settlein #settlein_content #displayer #play_slides ul li a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container .settlein #settlein_content #displayer #play_slides ul li a .username {
  font-size: 20px;
  color: #1ca0f3;
  height: 30px;
  line-height: 30px;
  margin-bottom: 12px;
}
.container .settlein #settlein_content #displayer #play_slides ul li a .userdesc {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}
.container .settlein #settlein_content #displayer #play_slides #arrow-left {
  position: absolute;
  top: 155px;
  left: 0;
  width: 43px;
  height: 75px;
  display: block;
  cursor: pointer;
  background: url('../images/ia_100000090.png') no-repeat -160px -367px;
}
.container .settlein #settlein_content #displayer #play_slides #arrow-right {
  position: absolute;
  top: 155px;
  right: 0px;
  width: 43px;
  height: 75px;
  cursor: pointer;
  background: url('../images/ia_100000090.png') no-repeat -121px -367px;
}
.container .settlein #settlein_content #displayer #play_slides #position {
  position: absolute;
  width: 960px;
  height: 60px;
  border-radius: 12px;
  background: #1ca0f3;
  color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  z-index: 5;
}
.container .settlein #settlein_content #displayer #play_slides #position .after {
  display: block;
  position: absolute;
  top: -8px;
  left: 1px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #1ca0f3;
}
.container .settlein #settlein_content #displayer #play_bottom {
  flex: 1;
  height: 110px;
  background: #bfe9ff;
  text-align: center;
}
.container .settlein #settlein_content #displayer #play_bottom .input_test {
  font-size: 20px;
  padding-left: 15px;
  height: 60px;
  width: 700px;
  background: #dff4ff;
  margin-top: 25px;
  border-radius: 11px;
}
.container .settlein #settlein_content #displayer #play_bottom button {
  height: 60px;
  width: 240px;
  background: #1ca0f3;
  color: #fff;
  border: none;
  border-radius: 12px;
  margin-left: 11px;
}
.circle__content {
  padding-left: 17%;
  padding-right: 24%;
  padding-top: 6%;
  width: 100%;
  height: 1333px;
  background: url('../images/ia_100000059.jpg') no-repeat center;
}
.circle__content #title {
  margin-bottom: 12px;
  height: 61px;
  background: url('../images/ia_100000087.png') no-repeat 0 -49px;
}
.circle__content #circle_desc {
  height: 30px;
  font-size: 24px;
  color: #1ca0f3;
}
.circle__content #card_content {
  width: 944px;
  height: 980px;
  margin-top: 101px;
  margin-left: 5px;
}
.circle__content #card_content ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.circle__content #card_content ul li {
  width: 430px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
}
.circle__content #card_content ul li #card_top {
  height: 45px;
  padding: 5px;
  width: 100%;
}
.circle__content #card_content ul li #card_top img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}
.circle__content #card_content ul li #card_top #mydir {
  float: left;
  margin-left: 4px;
}
.circle__content #card_content ul li #card_top #mydir .title {
  margin: 3px 4px;
  font-size: 19px;
  font-weight: 400;
  display: inline-block;
}
.circle__content #card_content ul li #card_top #mydir time {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.circle__content #card_content ul li #card_txt {
  width: 100%;
}
.circle__content #card_content ul li #card_txt .desc {
  margin-top: 15px;
  font-size: 0.09375rem;
}
.circle__content #card_content ul li #card_txt .more {
  float: right;
  color: #1aa1f3;
}
.circle__content #card_content ul li #card_txt .pic {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-left: 10px;
}
.circle__content #card_content ul li #card_txt .pic img {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 0.010417rem;
  margin-left: 2px;
  margin-bottom: 0.026042rem;
  border-radius: 5px;
}
.privilege_content {
  width: 100%;
  overflow: hidden;
  height: 1081px;
  background: url('../images/ia_100000084.jpg') no-repeat center;
}
.privilege_content .wrap {
  width: 1051px;
  height: 550px;
  margin: 0 auto;
}
.privilege_content .wrap .title {
  height: 60px;
  width: 600px;
  margin-top: 121px;
  background: url('../images/ia_100000087.png') no-repeat 0 -171px;
}
.privilege_content .wrap .desc {
  font-size: 20px;
  color: #1aa1f3;
  margin-top: 15px;
}
.game_content {
  width: 100%;
  height: 1076px;
  background: url('../images/ia_100000086.jpg') no-repeat center;
  overflow: hidden;
}
.game_content .wrap {
  width: 985px;
  height: 550px;
  margin: 0 auto;
}
.game_content .wrap .title {
  height: 59px;
  width: 550px;
  margin-top: 121px;
  background: url('../images/ia_100000087.png') no-repeat 0 -171px;
}
.game_content .wrap .desc {
  font-size: 20px;
  color: #1aa1f3;
  margin-top: 15px;
}
footer {
  height: 300px;
  width: 100%;
  background: #272a2c;
  float: left;
}
footer .top {
  height: 50%;
  margin: auto;
  width: 60%;
  border-bottom: 1px solid #ccc;
}
footer .top .left {
  float: left;
  padding-top: 4%;
}
footer .top .left .icon {
  height: 60px;
  width: 60px;
  float: left;
}
footer .top .left .bottom_text {
  margin-top: 5px;
  text-align: center;
  float: left;
  margin-left: 15px;
  color: #fff;
}
footer .top .left .bottom_text p {
  font-size: 14px;
}
footer .top .left .bottom_text p:first-child {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
}
footer .top .left #app {
  height: 62px;
  width: 183px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 20px;
  background: url('../images/ia_100000090.png') no-repeat -188px -248px;
}
footer .top .left #android {
  height: 62px;
  width: 183px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 20px;
  background: url('../images/ia_100000090.png') no-repeat -188px -308px;
}
footer .top .left #erma {
  display: inline-block;
  margin-right: 20px;
  width: 64px;
  height: 64px;
  background: url('../images/ia_100000090.png') no-repeat -436px -187px;
}
footer .top .right {
  padding-top: 4%;
  width: 200px;
  height: 100%;
  float: right;
}
footer .top .right dl {
  float: left;
  width: 100px;
}
footer .top .right dl dt {
  font-size: 20px;
  color: #a0a0a0;
}
footer .top .right dl dd {
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
}
footer .bottom {
  width: 62%;
  margin: 0 auto;
  padding-top: 30px;
}
footer .bottom .w_logo {
  float: left;
}
footer .bottom .w_logo .desc {
  color: #fff;
  margin-top: 15px;
}
footer .bottom .right {
  float: right;
  color: #fff;
}
footer .bottom .right a {
  color: #fff;
}
footer .bottom .right .own {
  color: #fff;
  margin-top: 15px;
}
footer .bottom .right .arrow {
  text-align: right;
}
footer .bottom .right .arrow a {
  color: #fff;
}
#music {
  width: 0;
  height: 0;
}
